{% extends 'base/base.html' %}

{% block title%}
Refugio
{% endblock %}


{% block content %}
<h1 style="text-align: center;"><span style="color: #3366ff;"><strong>REFUGIO DE ANIMALES KARO</strong></span></h1>
<p>&nbsp;</p>
<ul>
<li style="text-align: justify;">
<h3><span style="color: #000000;">En la pestana <span style="color: #3366ff;"><strong>Mascotas</strong> </span>se puede registrar a las mascotas y listar las registradas</span></h3>
</li>
<li style="text-align: justify;">
<h3><span style="color: #000000;">En la pestana <span style="color: #3366ff;"><strong>Adopciones</strong></span> se puede registar solicitantes de adopcion y listar las solicitudes.</span></h3>
</li>
</ul>
{% endblock%}


